<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <img height="100"width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">  
</div>
<div class="allTasksSection">
  <h1>All Tasks</h1>
  <button (click)="tasksOnClick()">Get All Tasks</button>


  <div *ngFor="let x of tasks">
    <p *ngIf = "x.name" style="color: blue">
      {{x.name}} - {{x.description}}
    </p>
    <form (submit) = "onDelete(x._id)" class="postForm">
      <input type="submit" value="Delete Task">
    </form>
    <form (submit) = "editOnClick(x)" class="postForm">
      <input type="submit" value="Edit Task">
    </form>
    <div *ngIf="x.showEditForm">
      <form (submit) = "onEdit(x)" class="postForm">
        <p style="color: purple; font-weight: bold;">{{x.name}}</p>
        Title: <input type="text" name="editTask.name" [(ngModel)]="x.name"/><br>
        Description: <input type="text" name="editTask.description" [(ngModel)]="x.description"/><br>
        <input type="submit" value="Edit Task">
      </form>
    </div>
  </div>
</div>

<div class="newTaskSection">
  <h3 style="color: green">Create New Task</h3>
  <form (submit) = "onSubmit()" class="postForm">
    Task Title: <input type="text" name="newTask.name" [(ngModel)]="newTask.name"/><br>
    Task Description: <input type="text" name="newTask.description" [(ngModel)]="newTask.description"/><br>
    <input type="submit" value="Create Task">
  </form>
</div>

